.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar ul li {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar ul li link {
  text-decoration: none;
  color: black;
}